body {
  background-color: darkgray;
  font-family: system-ui, sans-serif;
}
nav ul li {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  text-decoration: underline;
  color: red;
}

 ul, .captainInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
img {
  width: 20rem;
  height: 30rem;
}
.captain-info {
  font-size: 20px;
}
.logs {
  display: flex;
  flex-direction: column;
}